* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}

main {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.content > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.race-list {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.race-sessions {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  overflow-y: scroll;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 10px;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
}

.race-list .race-content {
  overflow-y: auto;
  flex: 1;
}

.race-list ol {
  list-style-type: none;
  margin: 0;
  width: 100%;
  flex: 1;
}

.race-sessions ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  flex: 1;
}

.race-list li {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #000;
}

/* #race-list li:first-child {
  border-right: 1px solid #000;
} */

.race-sessions li {
  /* height: 50px; */
  padding: 0.25rem 0rem 0.25rem 0.25rem;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}

.race-sessions li:first-child {
  border-top: 1px solid #000;
}

h2 {
  font-size: 24px;
  margin: 0;
}

.race-drivers {
  margin: 0;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 9px;
  font-weight: 400;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #bde6b1;
}

#current-race {
  background-color: aliceblue;
  display: flex;
  width: 100%;
  /* align-items: center; */
}

#race-info {
  width: 100%;
}

#race-data {
  background-color: bisque;
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* width: 100%; */
  align-items: end;
  border-bottom: 1px solid #000;
  padding: 10px 10px 0 10px;
}

#race-data h3 {
  font-size: 24px;
  padding-right: 20px;
}

#race-data p {
  display: inline-block;
}

.driver-row {
  /* display: inline-block; */
  width: 50%;
  border-bottom: 1px solid #000;
  padding: 5px 10px 0 10px;
}

#drivers-in-current {
  display: flex;
  flex-wrap: wrap;
}

#drivers-in-current div:nth-child(even) {
  border-left: 1px solid #000;
}

#race-list li {
  display: flex;
  align-items: center;
}

#race-list > li > div {
  display: flex;
  flex-wrap: wrap;
  padding-right: 10px;
  height: 100%;
  /* align-self: center; */
}

#race-list > li > div > div {
  padding: 0 10px;
  border-right: 1px solid black;
  height: 25px;
}

#race-list > li > div:first-child {
  display: flex;
  height: 100%;
  min-width: 80px;
  align-items: center;
  font-size: 24px;
  border-right: 1px solid #000;
}

#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: lightblue;
  font-size: 48px;
  padding: 10px;
  border-bottom: 1px solid #000;
  border-left: 1px solid black;
}

.driver-info {
  display: flex;
  flex-direction: column;
}

/* .drivers-in-current {
  padding: 5px 10px;
} */

.highlight {
  background-color: rgb(157, 249, 249);
}

.hidden {
  display: none;
}

/* section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  height: 100%;
  width: 100%;
  padding: 10px;
}

h2 {
  display: inline-block;
}

ol {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

li {
  flex-grow: 1;
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.race-list {
  display: grid;
  background-color: aqua;
  grid-row: 1/5;
  grid-column: 1;
}

.race-sessions {
  background-color: aquamarine;
  grid-column: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem 1rem;
  border-radius: 9px;
  font-weight: 600;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #bde6b1;
}

.race-drivers {
  background-color: lightblue;
  grid-column: 2;
} */
