:root {
    --background-color: #24282f;
    --text-color: #f5f5f5;
    --menu-color: #2f343c;
    --disabled-color: #6a6e76;
    --button-color: #dcf900;
    --button-text-color: #101419;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}




