<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheet.css" />
    <script src="" defer></script>
    <title>Front-desk</title>
  </head>
  <body>
    <!-- List of upcoming race sessions -->
    <!-- Add/Remove race sessions -->
    <!-- Add/Remove/Edit race drivers -->
    <header></header>
    <main>
      <section class="content">
        <div class="race-list">
          <h2>List of upcoming races</h2>
          <ol>
            <li>Current race</li>
            <li>Next race</li>
            <li>... race</li>
            <li>... race</li>
            <li>... race</li>
          </ol>
        </div>
        <div class="race-sessions">
          <h2>Race session</h2>
          <element class="btn" href="">Add a race</element>
        </div>
        <div class="race-drivers">
          <h2>Drivers</h2>
        </div>
      </section>
      <a href="/logout">logout</a>
    </main>
  </body>
</html>
